When I was a little girl I dreamed of Spotify Wrapped on Apple Music. Why not switch to Spotify then? My dad pays for Apple Music so it's not up for consideration. Then Apple Music released it's own wrapped. Apple Music Replay. Updated EVERY WEEK. But is was not enough for me. It's never enough.

That's why I decided to start this project. To analize every possible thing any human being ever could.

And everyone can do it. All you need is exam period, too much free time and your friend you have a little co-dependent frienship situation ghosting you (please text me back, I really miss you). Request your data from Apple Music and you can start.

Let's start with all libraries.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

C:\Users\natal\AppData\Local\Temp\ipykernel_15020\3338272293.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Let's take a look at the data.

In [3]:
df = pd.read_csv('Apple Music - Play History Daily Tracks.csv')

In [4]:
df

,Country,Track Identifier,Media type,Date Played,Hours,Play Duration Milliseconds,End Reason Type,Source Type,Play Count,Skip Count,Ignore For Recommendations,Track Reference,Track Description
0,Poland,347700346,AUDIO,20190818,"15, 17",460636,NATURAL_END_OF_TRACK,IPHONE,2,0,False,3.477003e+08,Marina and The Diamonds - Hollywood
1,Poland,347700348,AUDIO,20190818,"15, 17",431890,NATURAL_END_OF_TRACK,IPHONE,2,0,False,3.477003e+08,Marina and The Diamonds - Hermit the Frog
2,Poland,347700343,AUDIO,20190818,"15, 17",417586,NATURAL_END_OF_TRACK,IPHONE,2,0,False,3.477003e+08,Marina and The Diamonds - Girls
3,Poland,347700345,AUDIO,20190818,"15, 17",416380,NATURAL_END_OF_TRACK,IPHONE,3,0,False,3.477003e+08,Marina and The Diamonds - Obsessions
4,Poland,347700342,AUDIO,20190818,"15, 17",406896,NATURAL_END_OF_TRACK,IPHONE,2,0,False,3.477003e+08,Marina and The Diamonds - I Am Not a Robot
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44017,Poland,1468058173,AUDIO,20231128,14,221300,NATURAL_END_OF_TRACK,IPHONE,1,0,False,1.468058e+09,Taylor Swift - Lover
44018,Poland,1639195757,AUDIO,20231128,13,216905,NATURAL_END_OF_TRACK,IPHONE,1,0,False,1.639196e+09,Ralph Kaminski - Duchy
44019,Poland,1211892553,AUDIO,20231128,13,205853,NATURAL_END_OF_TRACK,IPHONE,1,0,False,1.211893e+09,Alexandra Savior - Mirage
44020,Poland,1564531204,AUDIO,20231128,12,194887,NATURAL_END_OF_TRACK,IPHONE,1,0,False,1.564531e+09,Billie Eilish - Male Fantasy
44021,Poland,1650841729,AUDIO,20231128,13,194207,NATURAL_END_OF_TRACK,IPHONE,1,0,False,1.650842e+09,"Taylor Swift - You're On Your Own, Kid"

I'm too lazy to change it in Python so I did it in Excel. Now it'll look like this:

In [5]:
df = pd.read_csv('AppleMusicCSV.csv', sep=';')

In [6]:
df

,Year,Month,Day,Artist,Song,Seconds
0,2019,8,18,Marina and The Diamonds,Hollywood,460.636
1,2019,8,18,Marina and The Diamonds,Hermit the Frog,431.890
2,2019,8,18,Marina and The Diamonds,Girls,417.586
3,2019,8,18,Marina and The Diamonds,Obsessions,416.380
4,2019,8,18,Marina and The Diamonds,I Am Not a Robot,406.896
...,...,...,...,...,...,...
44017,2023,11,28,Taylor Swift,Lover,221.300
44018,2023,11,28,Ralph Kaminski,Duchy,216.905
44019,2023,11,28,Alexandra Savior,Mirage,205.853
44020,2023,11,28,Billie Eilish,Male Fantasy,194.887
44021,2023,11,28,Taylor Swift,"You're On Your Own, Kid",194.207

Now it'll add things I was too lazy to add in Excel.

In [7]:
df['Minutes'] = df['Seconds']/60

df['Hours'] = df['Minutes']/60

df.drop(columns='Seconds', inplace=True)

In [8]:
df

,Year,Month,Day,Artist,Song,Minutes,Hours
0,2019,8,18,Marina and The Diamonds,Hollywood,7.677267,0.127954
1,2019,8,18,Marina and The Diamonds,Hermit the Frog,7.198167,0.119969
2,2019,8,18,Marina and The Diamonds,Girls,6.959767,0.115996
3,2019,8,18,Marina and The Diamonds,Obsessions,6.939667,0.115661
4,2019,8,18,Marina and The Diamonds,I Am Not a Robot,6.781600,0.113027
...,...,...,...,...,...,...,...
44017,2023,11,28,Taylor Swift,Lover,3.688333,0.061472
44018,2023,11,28,Ralph Kaminski,Duchy,3.615083,0.060251
44019,2023,11,28,Alexandra Savior,Mirage,3.430883,0.057181
44020,2023,11,28,Billie Eilish,Male Fantasy,3.248117,0.054135
44021,2023,11,28,Taylor Swift,"You're On Your Own, Kid",3.236783,0.053946